In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import dask.dataframe as dd

# Read the CSV file into a Dask DataFrame with explicit encoding specification
ddf = dd.read_csv('/content/drive/MyDrive/ENEM_DATA/MICRODADOS_ENEM_2021.csv', delimiter=';', encoding='latin1', dtype={'Q005': 'float64'})

# Check if any of the specified columns have missing values in a row and keep only those rows
ddf = ddf.dropna(subset=['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT'], how='all')

# Save the cleaned Dask DataFrame back to a CSV file
ddf.to_csv('cleaned_dataset.csv', index=False, sep=';', single_file=True, compute=True)

['/content/cleaned_dataset.csv']

In [5]:
ddf2 = dd.read_csv('cleaned_dataset.csv', delimiter=';', encoding='latin1', dtype={'Q005': 'float64'})

In [9]:
len(ddf2.index)

2386116

In [12]:
len(ddf2.columns)

76

In [13]:
ddf2.head(100)

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210053865474,2021,5,F,1,1,1,1,3,1,...,A,A,A,B,A,A,B,A,B,B
1,210052384164,2021,12,M,1,1,1,1,11,1,...,A,A,A,B,A,A,C,A,A,A
2,210052128335,2021,3,M,1,3,1,2,0,2,...,A,A,A,B,A,A,B,A,B,B
3,210051353021,2021,2,F,1,3,1,2,0,2,...,B,A,A,B,A,B,E,A,B,B
4,210052615524,2021,9,F,0,3,1,1,6,1,...,B,A,A,B,B,A,C,A,A,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,210052712748,2021,4,F,1,2,1,2,0,2,...,A,A,A,B,B,A,D,A,B,B
96,210052386487,2021,2,F,1,1,1,3,0,1,...,B,A,A,B,B,A,C,A,A,A
97,210053252601,2021,3,F,1,3,1,3,0,1,...,A,A,A,C,A,A,C,A,A,B
98,210051872326,2021,3,M,1,3,1,2,0,2,...,B,A,A,B,A,A,E,A,A,B
99,210054150471,2021,4,F,1,3,1,1,2,1,...,A,A,A,B,A,A,D,A,B,B

In [15]:
print(ddf2.columns)

Index(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA',
       'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT',
       'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC',
       'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN', 'TX_GABARITO_CH',
       'TX_GABARITO_LC', 'TX_GABARITO_MT', 'TP_STATUS_REDACAO',
       'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
       'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004',
       'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013',
       'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025'],
      dtype='object')

In [25]:
for column in ["TP_FAIXA_ETARIA", "TP_SEXO", "TP_LINGUA", "TP_COR_RACA", "TP_NACIONALIDADE"]:
  print(ddf2.head(100)[column].value_counts())

3     31
5     14
4     13
2     11
6      6
11     5
7      5
1      5
12     2
9      2
8      2
10     2
13     1
14     1
Name: TP_FAIXA_ETARIA, dtype: int64
F    72
M    28
Name: TP_SEXO, dtype: int64
0    51
1    49
Name: TP_LINGUA, dtype: int64
3    54
1    33
2    11
4     2
Name: TP_COR_RACA, dtype: int64
1    97
2     3
Name: TP_NACIONALIDADE, dtype: int64

In [23]:
ddf2["TP_FAIXA_ETARIA"]

Dask Series Structure:
npartitions=22
    int64
      ...
    ...
      ...
      ...
Name: TP_FAIXA_ETARIA, dtype: int64
Dask Name: getitem, 2 graph layers